$textColour: #333333;
$backgroundColour: #FFF;
$second-grey:#DBDBDB;
$dark-grey: #686868;
$light-grey: #E7E7E7;
$main-colour: #2a33be;
$accentColour: #F8B100;
$light-orange: #FFC686;
$secondary-colour: #12faf0;
$third-colour: #47ABD2;
