$textColour: #333333;
$backgroundColour: #FFF;
$second-grey:#DBDBDB;
$light-grey: #E7E7E7;
$main-colour: #ADEBE5;
$accentColour: #E46E05;
$light-orange: #FFC686;
$secondary-colour: #B4E0EE;
$third-colour: #47ABD2;
