/* SC Added
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Home Header */

.body {background-color: $backgroundColour;}

.headerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainColour;
  padding: 2.7rem;
  height: 50rem;
}

/* Nav */

@media (min-width: 550px) {
.primary-nav {
  margin: 2.4rem 0;
ul {
  float: right;
    li {
      display: inline;
      margin-left: 40px;
      }
    }
  }
}

.nav {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.nav li {
  display: inline;
  padding: 0 3rem 0 0;
  font-size: 2.47rem;
  text-decoration: underline;
}
.nav a {color:#FFFFFF}


/* Typography */

.name {
  font-size: 2.47rem;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 2.4rem;
}

#homeBlurb {
  text-align: center;
  font-weight: 400;
  font-size: 3.211rem;
  line-height: 5.4rem;
  margin: 0;
  padding:0;
}

.homeProject {
  margin: 5.4rem 0;
  border: 1px solid $backgroundColour;
  text-align: center;
  img {
    width: 100%;
  }
  h2 {
    font-size: 2.47rem;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  margin: 8.1rem 0 2.7rem 0;
  padding: 5.4rem;
  border-top: 1px solid $mainColour;
  ul {
    li {
      font-size: 2.4rem;
      display: inline;
      padding: 0 2.7rem;
    }
  }
}

/* Images */

.image-row {
  text-align: center;
    img {
      margin: 8.1rem 0 8.1rem 0;
      max-width: 100%;
    }
}

.poster-row {
  margin-top: 5.4rem;
  text-align: center;
    img {
      display: inline-block;
      max-height: 40rem;
    }
}

/* Project pages */

.project-intro {
  font-size: 2.7rem;
  line-height: 4.05rem;
  text-align: center;
  margin: 5.4rem 0 5.4em;
}

.project-info {
  background-color: $mainColour;
  margin: 2.7rem 0 5.4rem 0;
    h3 {
      text-align: center;
      font-size: 1.9rem;
      margin: 1rem;
    }
    p {
      margin: 1rem;
    }
}

h2.multi-project-page::before {
  content: "";
  display:block;
  margin: 1rem 0 2rem 0;
  height: 10px;
  width: 5.4rem;
  background-color: $accentColour;
}
