/* SC Added
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Home Header */

.body {background-color: $backgroundColour;}

.headerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainColour;
  padding: 2.7rem;
  height: 50rem;
}

/* Nav */

@media (min-width: 550px) {
.primary-nav {
  margin: 2.4rem 0;
ul {
  float: right;
  text-align: right;
  list-style-type: none;
    li {
      margin: 0;
      font-size: 1.6rem;
      line-height: 2.7rem;
      }
    }
  }
}

.home-link {
  font-size: 1.9rem;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-top: 2.4rem;
}

.brief-container {
    p {margin-top: 1rem;}
}

.main-heading {
    border-bottom: 1px solid $second-grey;
}

#homeBlurb {border:none;}

.brief-heading {
    color: $backgroundColour;
    background-color: $accentColour;
    font-size: 1.9rem;
    padding: 4px;
    margin-right: 1rem;
  }

.activity-header {
  font-size: 2.47rem;
}

p {
  a {text-decoration: underline;}
}

.ho-project-info {
  p {margin-bottom: 0}
}


.homeProject {
  margin: 2.7rem 0 0 0;
  border: 1px solid $backgroundColour;
  text-align: center;
  img {
    width: 100%;
  }
}

.homeProject-fw {
  margin: 2.7rem 0 0 0;
  text-align: center;
  img {
    width: 100%;
  }
  p {color: darken($second-grey, 50%);}
}

.homeProject:hover {
  .home-img-container {
    background-color: $light-orange;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }
  p {
    color: $accentColour;
  }
}

.about-page {
  h1, h2 {color: $accentColour;}
  h1 {display: inline-block;}
  h2 {font-size: 2.47rem;}
  .profile-pic {
    display: inline-block;
    width:8.1rem;}
}

/* Footer */

.footer {
  margin: 8.1rem 0 2.7rem 0;
  padding: 5.4rem;
  border-top: 1px solid $second-grey;
  .previous-next-container{
    display: flex;
    justify-content: space-between;
  }
  .previous-next-button {
    color: $backgroundColour;
    font-size: 1.9rem;
    padding: 1rem;
    background-color: $accentColour;
    display: flex;
    margin-bottom: 5.4rem;
    border-bottom: 4px solid darken($accentColour, 15%);
  }
  .previous-next-button:hover {
    text-decoration:none;
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      display: inline;
      padding: 0 2.7rem;
    }
  }
}

/* Images */

.home-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:285px;
  background-color: $light-grey;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
    img{width: 80%;}
}

.home-img-container-fw {
  display: flex;
  justify-content: center;
  align-items: center;
  height:285px;
  border: 1px solid $light-grey;
    img{width: 80%;}
}

.img-container {
  text-align: center;
    img {
      margin: 8.1rem 0 8.1rem 0;
      max-width: 100%;
    }
}

.poster-row {
  margin-top: 5.4rem;
  text-align: center;
    img {
      display: inline-block;
      max-height: 40rem;
    }
}

/* Project pages */

.project-intro {
  font-size: 2.7rem;
  line-height: 4.05rem;
  text-align: center;
  margin: 5.4rem 0 5.4em;
}

.project-info {
  background-color: $mainColour;
  margin: 2.7rem 0 5.4rem 0;
    h3 {
      text-align: center;
      font-size: 1.9rem;
      margin: 1rem;
    }
    p {
      margin: 1rem;
    }
}

.multi-project-page {
  padding-top: 5.4rem;
  border-top: 1px solid $second-grey;
}
